create database QLBH_GS25
go
use QLBH_GS25
go

--TẠO BẢNG KHÁCH HÀNG
create table KhachHang
(
	MaKH char(5) constraint PK_KhachHang primary key,
	HoTenKH nvarchar(30) null,
	NgaySinhKH date constraint CHK_NgaySinhKH check(NgaySinhKH<getdate()),
	GioitinhKH nvarchar(5) constraint CHK_GioiTinhKH check(GioiTinhKH in (N'Nam',N'Nữ')),
	DiachiKH nvarchar(100) null,
	DiDongKH char(11) null,
	EmailKH nvarchar(50) null
)
go
--TẠO BẢNG NHÂN VIÊN
create table NhanVien
(
	MaNV char(5) constraint PK_NhanVien primary key,
	HoTenNV nvarchar(30) not null,
	GioitinhNV nvarchar(5) constraint CHK_GioiTinhNV check(GioiTinhNV in (N'Nam',N'Nữ')),
	NgaySinhNV date constraint CHK_NgaySinhNV check(NgaySinhNV<getdate()),
	DiachiNV nvarchar(100) null,
	DiDongNV char(11) not null,
	EmailNV	nvarchar(50) null,
	CMND char(12) not null unique,
)
go

--TẠO BẢNG LOẠI MẶT HÀNG
create table LoaiMatHang(
	MaLMH char(5) constraint PK_LoaiMatHang primary key,
	TenLMH nvarchar(30) not null
)
go

--TẠO BẢNG MẶT HÀNG
Create table MatHang
(
	MaMH char(5) constraint PK_MatHang primary key,
	TenMH nvarchar(60) not null,
	DVT nvarchar(10) null,
	DonGia bigint not null constraint CHK_DonGia check(DonGia>=0),
	MaLMH char(5) constraint FK_MatHang_LoaiMatHang foreign key references LoaiMatHang,
	SoLuongTon int not null default 0 constraint CHK_SoLuongTon check (SoLuongTon>=0)
)
go

--TẠO BẢNG KHUYẾN MÃI 
Create table KhuyenMai 
(
	MaKM char(5) constraint PK_KhuyenMai primary key,
	TenKM nvarchar(100) not null,
	NgayBDKM datetime null default getdate(),
	NgayKTKM datetime null default getdate(),
	Giamgia int not null default 0 constraint CHK_GiamGia check(0<=Giamgia and Giamgia<=100),
	constraint CHK_KhuyenMai_Ngay Check(NgayBDKM<NgayKTKM)
)
go

--TẠO BẢNG HÓA ĐƠN
Create table HoaDon
(
	MaHD char(5) constraint PK_HoaDon primary key,
	NgayLapHD datetime not null default getdate(),
	PTTT nvarchar(20) null,	
	MaKH char(5) constraint FK_HoaDon_KhachHang foreign key references KhachHang,
	MaNV char(5) constraint FK_HoaDon_NhanVien foreign key references NhanVien,
	MaKM char(5) constraint FK_HoaDon_KhuyenMai foreign key references KhuyenMai,
	TienNhan bigint null,
	TienThua bigint null,
)
go

--TẠO BẢNG CHI TIẾT HÓA ĐƠN 
Create table CTHoaDon
(
	MaHD char(5) constraint FK_ChiTietHoaDon_HoaDon foreign key references HoaDon,
	MaMH char(5) constraint FK_ChiTietHoaDon_MatHang foreign key references MatHang,
	SoLuong bigint not null default 0 constraint CHK_SoLuong check(SoLuong>=0),
	constraint PK_ChiTietHoaDon primary key(MaHD,MaMH)
)
go

--TẠO BẢNG NHÀ CUNG CẤP
create table NhaCungCap(
	MaNCC char(6) constraint PK_NhaCungCap primary key,
	TenNCC nvarchar(100) not null,
	EmailNCC varchar(50) not null,
	SDTNCC varchar(11) not null
)
go

--TẠO BẢNG PHIẾU NHẬP KHO
Create table PhieuNhapKho
(
	MaPhieuNK char(5) constraint PK_PhieuNhapKho primary key,
	NgayLapNK datetime not null default getdate(),
	MaNV char(5) constraint FK_PhieuNhapKho_NhanVien foreign key references NhanVien,
	MaNCC char(6) constraint FK_PhieuNhapKho_NhaCungCap foreign key references NhaCungCap,
)
go

--TẠO BẢNG CHI TIẾT PHIÊU NHẬP KHO
Create table CTPhieuNhapKho
(
	MaPhieuNK char(5) constraint FK_CTPhieuNhapKho_PhieuNhapKho foreign key references PhieuNhapKho,
	MaMH char(5) constraint FK_CTPhieuNhapKho_MatHang foreign key references MatHang,
	SoLuongNhap int constraint CHK_SoLuongNhap check(SoLuongNhap>=0) not null default 0,
	GiaNhap bigint constraint CHK_GiaNhap checK(GiaNhap>=0) not null default 0,
	constraint PK_CTPhieuNhapKho primary key(MaPhieuNK,MaMH)
)
go

--TẠO BẢNG PHIẾU XUẤT
create table PhieuXuat(
	MaPX char(5) constraint PK_PhieuXuat primary key,
	NgayLapPX datetime not null default getdate(),
	MaNV char(5) constraint FK_PhieuXuat_NhanVien foreign key references NhanVien
)
go

--TẠO BẢNG CHI TIẾT PHIẾU XUẤT
create table ChiTietPhieuXuat
(
	MaPX char(5) constraint FK_ChiTietPhieuXuat_PhieuNhapKho foreign key references PhieuXuat,
	MaMH char(5) constraint FK_ChiTietPhieuXuat_MatHang foreign key references MatHang,
	SoLuongXuat int constraint CHK_SoLuongXuat check(SoLuongXuat>=0) not null default 0,
	constraint PK_ChiTietPhieuXuat primary key(MaPX,MaMH)
)
go

--TẠO BẢNG THẺ THÀNH VIÊN
Create table TheThanhVien
(
	MaThe char(5) constraint PK_TheThanhVien primary Key (MaThe),
	DiemTL int	not null default 0 constraint CHK_TheThanhVien_DiemTL check(DiemTL>=0),
	NgayDK datetime	not null default getdate(),
	MaKH char(5) constraint FK_TheThanhVien_KhachHang foreign Key references KhachHang
)
go

--TẠO BẢNG TÀI KHOẢN ĐĂNG NHẬP
Create table TKDangNhap
(
	ID char(5) constraint pk_TKDangNhap primary key,
	MatKhau	nvarchar(15) not null default '1',
	ChucVu nvarchar(20)	not null constraint CHK_ChucVu check(ChucVu in(N'Quản lý',N'Nhân viên bán hàng',N'Nhân viên kho')),
	MaNV char(5) not null constraint FK_TKDangNhap_NhanVien foreign Key references NhanVien
)
go


--INSERT 50 KHÁCH HÀNG

--INSERT 50 NHÂN VIÊN


--INSERT 15 LOẠI MẶT HÀNG
insert LoaiMatHang values
	('LMH01',N'Trái cây'),
	('LMH02',N'Rau củ quả'),
	('LMH03',N'Socola & kẹo'),
	('LMH04',N'Snack'),
	('LMH05',N'Nước ngọt'),
	('LMH06',N'Nước suối'),
	('LMH07',N'Trà'),
	('LMH08',N'Cà phê'),
	('LMH09',N'Bia'),
	('LMH10',N'Rượu'),
	('LMH11',N'Sữa tươi'),
	('LMH12',N'Sữa chua'),
	('LMH13',N'Bánh mì tươi & Bánh bông lan'),
	('LMH14',N'Sữa rửa mặt'),
	('LMH15',N'Kem đánh răng')

--INSERT 100 MẶT HÀNG


----INSERT 10 KHUYẾN MÃI

--INSERT 30 HOÁ ĐƠN

--INSERT CHI TIẾT HOÁ ĐƠN

----INSERT 40 NHÀ CUNG CẤP

--INSERT 15 PHIẾU NHẬP KHO


--INSERT CHI TIẾT PHIẾU NHẬP
	
	
--INSERT 15 PHIẾU XUẤT
insert PhieuXuat values
	('PX001', '20230705', 'NV030'),
	('PX002', '20230710', 'NV031'),
	('PX003', '20230715', 'NV027'),
	('PX004', '20230717', 'NV040'),
	('PX005', '20230720', 'NV028'),
	('PX006', '20230722', 'NV035'),
	('PX007', '20230723', 'NV045'),
	('PX008', '20230728', 'NV041'),
	('PX009', '20230730', 'NV037'),
	('PX010', '20230731', 'NV033'),
	('PX011', '20230802', 'NV029'),
	('PX012', '20230802', 'NV041'),
	('PX013', '20230805', 'NV037'),
	('PX014', '20230807', 'NV030'),
	('PX015', '20230810', 'NV038')
	
--INSERT CHI TIẾT PHIẾU XUẤT
	
--INSERT THẺ THÀNH VIÊN


--INSERT TÀI KHOẢN ĐĂNG NHẬP
	
